/* font-family: 'Goldman', cursive;
font-family: 'Meddon', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
  background-color: rgb(126, 210, 181);
}
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 72px;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.fa-instagram {
  color: brown;
  font-size: 40px;
}
