/* font-family: 'Goldman', cursive;
font-family: 'Meddon', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  --primary-color: rgb(19, 148, 103);
  --bg-secondary-color: rgba(216, 240, 232, 0.9);
  --third-color: #f0ac46;
}
/* containers */
.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.container {
  margin: 30px auto;
}
.container-projects {
  padding: 100px 20px 80px;
}
.hero {
  background-color: var(--bg-secondary-color);
  text-align: center;
  padding: 100px 20px 75px;
  font-family: "Montserrat", sans-serif;
}
.about-section {
  text-align: center;
  padding: 100px 20px 75px;
  font-family: "Montserrat", sans-serif;
}
.container-poems-imgs {
  text-align: center;
  background: var(--bg-secondary-color);
}

/* navbar */
.bg-color {
  background-color: var(--primary-color);
}

.navbar-brand.text-color {
  color: var(--bg-secondary-color);
  font-family: "Goldman", cursive;
  padding-right: 50px;
}

.nav-link {
  color: var(--bg-secondary-color) !important;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: "Meddon", cursive;
  font-weight: 700;
  font-size: 88px;
  color: var(--primary-color);
  padding: 35px 0;
  margin: 10px auto;
}
h1.about-me-name {
  font-size: 58px;
  padding-top: 0;
  color: var(--third-color);
}
h2 {
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
.hero h2 {
  margin-top: 40px;
}
.about-section h2 {
  font-size: 24px;
  font-weight: 400;
}
.welcome-to-my-poems h2 {
  padding-bottom: 5px;
}
.about-insta-visit {
  font-family: "Goldman", cursive;
  font-size: 16px;
  opacity: 0.7;
  margin-bottom: 0;
  line-height: 2;
}
.poem-account {
  font-family: "Montserrat", sans-serif;
  color: var(--third-color);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
h3 {
  font-weight: 600;
  opacity: 0.7;
  font-size: 20px;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
}

h3.job-overview {
  margin: 0 auto;
}
p.about-me-details {
  font-weight: 400;
  opacity: 0.6;
  font-size: 16px;
  line-height: 2;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
}

.welcome-to {
  text-align: center;
  padding: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 1;
  opacity: 0.7;
}

.project-description {
  opacity: 0.7;
  font-weight: 500;
  line-height: 2;
}
/* images */
img.books {
  width: 20%;
}
.hero-img {
  width: 90%;
  border-radius: 5px;
  padding: 30px;
  background: var(--bg-secondary-color);
}
.welcome-img {
  width: 50px;
}
.my-img {
  width: 75%;
  border-radius: 5px;
  padding: 30px;
  background: var(--bg-secondary-color);
}
.poem {
  width: 70%;
  height: 85%;
  padding: 20px;

  background: #f9bc60;
}

/* buttons */
.btn-hero-page {
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  padding: 13px 23px;
  transition: all 150ms ease-in-out;
}
.btn-hero-page:hover {
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn-go-to-project {
  border-radius: 4px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 12px 18px;
  transition: all 150ms ease-in-out;
}

.btn-go-to-project:hover {
  background-color: var(--bg-secondary-color);
  color: var(--primary-color);
}
/* footer */
.contacts {
  display: flex;
  justify-content: center;
  background: var(--primary-color);
}
.contact {
  padding: 13px 30px;
  color: var(--bg-secondary-color);
  font-size: 25px;
  font-weight: 600;
}
.shecodes-link {
  color: var(--primary-color);
}

@media (max-width: 845px) {
  h1 {
    font-size: 50px;
  }
  .about-section h2 {
    font-size: 16px;
    font-weight: 400;
  }
  h1.about-me-name {
    font-size: 34px;
    padding-top: 0;
    line-height: 1.5;
  }

  h2 {
    font-size: 22px;
    text-align: center;
    line-height: 0;
  }

  h3 {
    font-size: 16px;
  }

  .hero,
  .about-section {
    padding: 80px 25px 60px;
  }
  .btn-hero-page {
    padding: 10px 15px;
    font-size: 14px;
  }

  .project-description,
  .about-me-details {
    padding: 20px;
    text-align: justify;
    line-height: 1.5;
  }
  .describe-col {
    text-align: center;
  }
  .welcome-img {
    width: 26px;
  }
  .welcome-to {
    font-size: 24px;
  }
  .about-insta-visit {
    font-size: 12px;
  }
}
